.venv
.idea
raw_data
ICBHI_final_database

raw*/
interim*/
preprocessed*/
logs/
results/
checkpoints/
*.ckpt
*.png
__pycache__/
*.pyc
*.keras
/home/rafaelsantos/Documentos/IA901_Project/notebooks/temp_test_mel_db
/home/rafaelsantos/Documentos/IA901_Project/notebooks/temp_train_mel_db
*/home/rafaelsantos/Documentos/data